$btn-color: #f72b3b;
$bg-color: #b87cf7;
$white: #ffffff;
$light: #fbfbf7;
$dark: #262626;
$bg-date-color: #4f555e;

$content-gradient: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.9) 0%,
  rgba(255, 255, 255, 0) 100%
);
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
$button-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
$button-shadow-hover: 0 2px 5px rgba(0, 0, 0, 0.5);
$max-width: 1240px;

$base-font: "Raleway", sans-serif;

$section-title-fs: 5.625rem;
$section-description-fs: 1.0625;
$button-fs: 1.25rem;
$card-title-fs: 1.25rem;
$card-info-fs: 0.8125rem;
$date-fs: 2rem;
