<section class="section">
  <div class="container">
    <h2 class="section__title">Blog</h2>
    <p class="section__description">Dolore magna aliqua.
      Ut enim ad minim veniam,
      quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in
      reprehenderit in voluptate velit.</p>
    <ul class="section__list">
      <li class="section__list-item card">
        <img class="card__image" src="images/mohito.png" alt="mohito">
        <div class="card__date-box">
          <span class="card__date"><span class="card__number">20</span> <span class="card__month">NOV</span></span>
        </div>
        <div class="card__content">
          <h3 class="card__title">Green Smoothies: Too Much of a Good Thing?</h3>
          <p class="card__info">By Auskteez - 2 hours ago</p>
        </div>
      </li>
      <li class="section__list-item card">
        <img class="card__image" src="images/soup.png" alt="soup">
        <div class="card__date-box">
          <span class="card__date"><span class="card__number">14</span> <span class="card__month">NOV</span></span>
        </div>
        <div class="card__content">
          <h3 class="card__title">Growing Food and a “Thirst” for Innovation</h3>
          <p class="card__info">By Auskteez - 3 hours ago</p>
        </div>
      </li>
      <li class="section__list-item card">
        <img class="card__image" src="images/malina.png" alt="malina">
        <div class="card__date-box">
          <span class="card__date"><span class="card__number">10</span> <span class="card__month">NOV</span></span>
        </div>
        <div class="card__content">
          <h3 class="card__title">Pesticides & Food: What You Need to Know</h3>
          <p class="card__info">By Auskteez - 6 hours ago</p>
        </div>
      </li>
    </ul>
    <a class="button__blog" href="">VIEW MORE</a>
  </div>
</section>