.footer {
  background-color: $footer-bg-color;
  min-height: 90px;
  padding-top: 37px;
  &__list {
    @include flex(space-around, stretch);
    list-style-type: none;
  }
}
.footer-list {
  @include flex(space-between);
  list-style-type: none;
  padding-left: 90px;
  padding-right: 90px;
  @extend %container;
  &__item--copy {
    @include text($H100, 400, $grey);
  }
  &__item--logo {
    @include text($H500, 400, $grey);
  }
  &__item--author {
    @include text($H50, 400, $grey);
  }
}
.love {
  color: $text-marked-color;
}
