.section-contact {
  background-image: url(../images/img.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-left: 165px;
  padding-right: 165px;
  &__text {
    text-align: center;
    @include flex(flex-start, stretch, column);
    margin-bottom: 50px;
  }
  &__title {
    @include text($H900, 700);
    padding-top: 100px;
    padding-bottom: 50px;
    line-height: 65px;
  }
  &__description {
    @include text($H200);
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  &__main {
    @include flex(space-between);
  }
  &__info {
    flex-grow: 1;
    padding-left: 150px;
  }
}
