@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    width: 1280px;
    height: 976px;
    min-height: 100vh;
}
.header {
    margin: 0 auto;
    width: 940px;
    height: 418px;
    align-items: center;
}
.header__text__up {
    padding-top: 143px;
    font-family: Montserrat;
    font-size: 12px;
    color: #898f99;
    font-weight: 700;
    text-align: center;
}
.header__title {
    margin-top: 35px;
    font-size: 48px;
    font-weight: 400;
    color: #0ec8cb;
    font-family: Montserrat;
    text-align: center;
}
.header__text__down {
    margin-top: 44px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.main {
    margin: 0 auto;
    width: 940px;
    height: 420px;
}
.list {
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}
.list__item {
    width: 235px;
    height: 420px;
    color: black;
    fill: black;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    background-color: #f7f7f7;
}
.list__item:hover {
    background-color: #0ec8cb;
    fill: white;
    color: white;
}
.box {
    margin-top: 55px;
}
.list__icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.list__icon-g:hover {
    fill: white;
}
.list__title {
    margin-top: 55px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.list__title:hover {
    color: white;
}
.list__text {
    margin-top: 33px;
    font-family: Montserrat;
    font-size: 14px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}
.list__text:hover {
    color: white;
}
